
<div class="table-container">
  <!-- <div class="mat-elevation-z8"> -->
    <table mat-table class="full-width-table" matSort matSortActive="inferrence_state" matSortDirection="asc" aria-label="Elements">
      <!-- Node Label Column -->
      <ng-container matColumnDef="node_label">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Node Label</th>
        <td mat-cell *matCellDef="let row">{{row.node_label}}</td>
      </ng-container>

      <!-- Count Column -->
      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Files Count</th>
        <td mat-cell *matCellDef="let row">{{row.total_count}}</td>
      </ng-container>

      <!-- Size Column -->
      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Filesize</th>
        <td mat-cell *matCellDef="let row">{{row.size | fileSize }}</td>
      </ng-container>

      <!-- Inferrence State Column -->
      <ng-container matColumnDef="inferrence_state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Inferrence State</th>
        <td mat-cell *matCellDef="let row">
          {{ row.complete / row.total_count * 100 | number: '1.2-2' }}% ({{row.complete}} / {{ row.total_count}})
          <span *ngIf="row.noqueue > 0">, unqueued: {{row.noqueue}}</span>
          <span *ngIf="row.pending > 0">, queued: {{row.pending}}</span>
          <span *ngIf="row.running > 0">, running: {{row.running}}</span>
          <span *ngIf="row.failed > 0">, failed: {{row.failed}}</span>
          <span *ngIf="row.paused > 0">, paused: {{row.paused}}</span>

        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button *ngIf="row.noqueue > 0" mat-icon-button (click)="queue(row.node_label);$event.stopPropagation();">
            <mat-icon class="material-symbols-outlined" matTooltip="Queue unqueued tasks" matTooltipPosition="before" matTooltipClass="tight-tooltip">add_circle</mat-icon>
          </button>
          <button *ngIf="row.failed > 0" mat-icon-button (click)="reset_failed(row.node_label);$event.stopPropagation()">
            <mat-icon class="material-symbols-outlined" matTooltip="Re-queue failed tasks" matTooltipPosition="before" matTooltipClass="tight-tooltip">sync_problem</mat-icon>
          </button>
          <button *ngIf="row.pending > 0" mat-icon-button (click)="pause(row.node_label);$event.stopPropagation()">
            <mat-icon class="material-symbols-outlined" matTooltip="Pause pending tasks" matTooltipPosition="before" matTooltipClass="tight-tooltip">pause_circle</mat-icon>
          </button>
          <button *ngIf="row.paused > 0" mat-icon-button (click)="resume(row.node_label);$event.stopPropagation()">
            <mat-icon class="material-symbols-outlined" matTooltip="Resume paused tasks" matTooltipPosition="before" matTooltipClass="tight-tooltip">play_circle</mat-icon>
          </button>
          <button disabled mat-icon-button (click)="reset_all(row.node_label);$event.stopPropagation()">
            <mat-icon class="material-symbols-outlined" matTooltip="Reset all tasks and delete results" matTooltipPosition="before" matTooltipClass="tight-tooltip">sync</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr (click)="detail(row.node_label)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator
        [length]="dataSource.data.length"
        [pageIndex]="0"
        [pageSize]="20"
        [pageSizeOptions]="[5, 10, 20]"
        aria-label="Select page">
    </mat-paginator>
  </div>
